@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Righteous', cursive;
  animation: bgColor 5s linear infinite;
}

@keyframes bgColor {
  0% {
    background-image: linear-gradient(to left, #0fc2da, #2e5cda);
  }
  100% {
    background-image: linear-gradient(to left, #2e5cda, #0fc2da);
  }
}
.container {
  width: 350px;
  height: auto;
  background: #fff;
  border: 1px solid #f9f9f9;
  border-radius: 7px;
  padding: 5px;
}

.form {
  text-align: center;
  margin: 20px 0;
}

h1 {
  font-size: 20px;
  margin: 10px 0;
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  user-select: none;
}

#myinput {
  width: 250px;
  padding: 8px 10px;
}

.bttn {
  padding: 8px 10px;
  background: rgb(0, 225, 255);
  margin: 5px 0;
  width: 255px;
  color: #fff;
  margin-left: 38px;
  cursor: pointer;
  font-weight: 400;
  border-radius: 3px;
}

.bttn:active {
  background: blue;
}

#qrimage {
  margin: 10px 0;
}
